@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #505064;
  font-family: "Fira Mono", monospace, sans-serif;
  font-size: 20px;
}

body {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main {
  -webkit-box-shadow: 8px 8px 20px #3b3b4a, -8px -8px 20px #65657e;
  box-shadow: 8px 8px 20px #3b3b4a, -8px -8px 20px #65657e;
  padding: 2rem;
  border-radius: 30px;
}

.main input,
button {
  outline: none;
}

.main input::-webkit-outer-spin-button,
.main input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main input[type="number"] {
  -moz-appearance: textfield;
}

.main input {
  -webkit-box-shadow: inset 8px 8px 25px #3b3b4a, inset -8px -8px 25px #65657e;
  box-shadow: inset 8px 8px 25px #3b3b4a, inset -8px -8px 25px #65657e;
  width: 320px;
  height: 60px;
  padding: 16px 32px;
  text-align: right;
  border: none;
  border-radius: 30px;
  color: #b4b4b4;
  text-shadow: -1px -1px 2px #a1a1a1, 3px 3px 3px rgba(32, 32, 32, 0.4);
}
input ::placeholder {
  color: #b4b4b4;
  text-shadow: -1px -1px 2px #a1a1a1, 3px 3px 3px rgba(32, 32, 32, 0.4);
}
.keypad {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [4];
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.7rem;
  margin-top: 25px;
}

.main button {
  -webkit-box-shadow: 8px 8px 25px #3b3b4a, -8px -8px 25px #65657e;
  box-shadow: 8px 8px 25px #3b3b4a, -8px -8px 25px #65657e;
  width: 65px;
  height: 65px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  background: #505064;
  color: #b4b4b4;
}

.main button:hover,
.main button:active {
  background-color: #474755;
}

.main button:active {
  -webkit-box-shadow: inset 8px 8px 25px #3b3b4a, inset -8px -8px 25px #65657e;
  box-shadow: inset 8px 8px 25px #3b3b4a, inset -8px -8px 25px #65657e;
}

.main .op_key {
  color: #eeff00;
}
#result {
  grid-column: 3/5;
  grid-row: 5;
  width: 150px;
  background-color: #eeff00;
  font-size: 1.5rem;
  color: #505064;
}
#result:hover,
#result:active {
  background-color: #d9e802;
}

#result:active {
  -webkit-box-shadow: inset 8px 8px 25px #afb921, inset -8px -8px 25px #ffff00;
  box-shadow: inset 8px 8px 25px #afb921, inset -8px -8px 25px #ffff00;
}
